@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
  font-family: 'Roboto Mono', monospace;
  color: #751e10;
}

header {
  background-color: #751E10;
  color: #F0DDDA;
  text-align: center;
  padding: 2.5rem 0;
  width: 100%;
}

nav {
  background-color: #803B30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
 text-decoration: none;
 color: #F0DDDA;
 display: block;
 height: 2.7rem;
 padding: 0.6rem 1rem;
}

nav a:hover {
  background-color: #F0DDDA;
  color: #751E10;
}

nav form {
  padding: 0 1rem;
}

nav input {
  height: 1.7rem;
  padding: 0.3rem;
  border-radius: 0.1rem;
}

main {
  display: flex;
}

aside {
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 18rem;
  padding: 2rem 1.2rem;
  background-color: #F0DDDA;
}

.profile-img {
  text-align: center;
  margin: 1rem;
}

.profile-img img {
  width: 100%;
  max-width: 10rem;
  min-width: 5rem;
  border-radius: 50%;
  box-shadow: 0.3rem 0.3rem 0.3rem grey;
}

#read {
  margin-top: 2rem;
}

#read li {
  list-style-position: inside;
  padding: 0.6rem 0;
}

.articles {
  flex-basis: 70%;
  flex-grow: 3;
  padding: 1.5rem 1.2rem;
}

article {
  padding: 2rem 0;
}

.article-img {
  width: 70%;
  padding: 1.2rem 0;
}

footer {
  background-color: #751E10;
  color: #F0DDDA;
  text-align: center;
  padding: 2rem 0;
}